*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
    background-color: blue;
    display: flex;
}
header a img{
    margin: 20px 408px 0px 220px;
}
.navigation-wrapper{
    display: flex;
}
.navigation-wrapper li{
    list-style-type: none;
    margin: 46px 43px 36px 0px ;
}
.navigation-wrapper a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
}
.contact-button{
    padding: 18px 43px 18px 43px;
    border-radius: 35px;
    background-color: white;
    color: rgb(4, 4, 14);
    margin-top: 28px ;
}
.image-wrapper{
    background-color: blue;
    padding: 97px 0px 40px 220px;
    display: flex;
}
.rectangle{
    width: 547px;
    margin: 50px 51px 0px 0px;
}
.rectangle2{
    width: 700px;
}
.blocks{
    display: flex;
}
.just-info{
    width: 380px;
    margin:60px 137px 717px 0px ;
}
.info-wrapper{
    padding: 180px 0px 180px 220px;
}
.stage{
    width: 500px;
    margin-top: 200px;
}
.services{
    margin: 0px 0px 0px 180px;
}
.projects-container{
	max-width: 1920px;
	margin:0 auto;
    height: 308px;
    background-color:#0a22f4;
 }
 h1{
 	letter-spacing: 0px;
	color: #FFFFFF;
	text-transform: uppercase;
	opacity: 1;
	text-align: left;
	position: absolute;
	font-size: 29px;
	padding:70px 130px;

 }
 .project-box{
 	border-radius: 15px;
    opacity: 1;
 	width: 480px;
	height: 290px;
	display: inline-block;
	margin-left: 20px;
    margin-top: 213px;
}
.slide-img{
	width: 420px;
    height: 290px;
}
.slider{
	width: 353px;
    height: 125px;
    border-radius: 12px;
    background-color: whitesmoke;
    position: absolute;
    top: 370px;
    left: 55px;
    justify-content: center;
}
.slider-text{
	font-size: 18px;
	text-align: left;
	margin-top: 40px;
	margin-left: 12px;
}
.second-text{
	width: 353px;
    height: 125px;
    border-radius: 12px;
    background-color: whitesmoke;
    position: absolute;
    top: 370px;
    left:555px;
}
.third-text{
	width: 353px;
    height: 125px;
    border-radius: 12px;
    background-color: whitesmoke;
    position: absolute;
    top: 370px;
    left:1055px;
}
.other-project{
	position: absolute;
	top: 580px;
	left:1330px;
	letter-spacing: 0px;
    color: #171717;
    text-transform: uppercase;
    opacity: 1;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}
.partniors{
	max-width: 1920px;
	margin:0 auto;
	display: inline-block;
}
.partniors-container h2{
	position: absolute;
	top: 720px;
	left: 55px;
	letter-spacing: 0px;
	color: #171717;
	opacity: 1;
	text-align: left;
	font-size: 22px;
}
.partniors-container p {
	width: 400px;
	position: absolute;
	top: 820px;
	left: 55px;
}
.partniors-logos ul {
	width: 200px;
	position: absolute;
	top: 780px;
	left: 800px;
	display: flex;
	list-style-type: none;
	
}
.partniors-logos ol {
	width: 200px;
	position: absolute;
	top: 880px;
	left: 800px;
	display: flex;
	list-style-type: none;
}
footer{
    background:blue;
    display: flex; 
    padding-bottom:200px ;
    margin-top: 700px;
}
.basic-info{
    margin: 275px 503px 0px 240px;
    width:1150px;
    color: whitesmoke;
}
.contact{
    margin-bottom: 30px;
}
.lorem{
    margin-bottom: 58px;
}
.icon-wrapper{
    display: flex;
    margin-right: 30px;
}
.icon{
    width: 40px;
}
.phone-numbers{
    margin:60px 25px 0px 240px;
    display:flex;
}
.send{
    padding: 15px;
    background: whitesmoke;
    border-radius: 40px;
}
.main-info{
    margin: 373px 200px 0px 0px;
}